@import url('/public/styles/index.css');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    color: var(--dark-500);
    border-bottom: 1px solid var(--dark-100);
}

.logo img {
    height: 68px;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 40px;

    font-family: var(--font-two);
    font-weight: 500;
    font-size: 1rem;
}

a {
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 8px 15px;
    background-color: var(--brand-color);
}

a:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}