@import url('/public/styles/index.css');

.navbar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    color: var(--dark-500);
    border-bottom: 1px solid var(--dark-100);
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--light-100);
}

.logo img {
    height: 68px;
}

.right-links {
    display: flex;
    align-items: center;

    font-family: var(--font-two);
    font-weight: 500;
    font-size: 1rem;
}
.icon {
    display: inline-flex;
}

.icon img {
    height: 24px;
    margin-right: 28px;
}

.icon img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.icon:last-child {
    margin-right: 0; 
}

#cart-item-count {
    position: absolute;
    top: 20;
    right: 130;
    background-color: #8C69E9; 
    color: #F6F3FE;
    font-size: 12px;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle a{
    font-size: 1.3rem;
    color: #8C69E9;
}