@import url('../../index.css');

.container {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100vh;
}

h4 {
    font-family: var(--font-two);
    color: var(--dark-900);
    font-weight: 600;
}

.btn {
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: var(--brand-color);
    font-weight: 600;

    width: 200px;
    font-family: var(--font-two);
}

table,
th,
td {
    border: 1px solid var(--dark-100);
    text-align: center;
    font-size: 0.8rem;
    font-family: var(--font-two);
    border-left: 0;
    border-right: 0;
}

th {
    background-color: var(--brand-color);
    color: var(--light-100);
    padding: 10px;
}

.description_p {
    width: 430px;
    padding: 0 8px;
    text-align: left;
}

.number {
    width: 10px;
}

.same {
    width: 60px;
}

.product_name {
    width: 140px;
}

.category_name {
    width: 80px;
}

.image_p img {
    height: 60px;
    width: 60px;
}

.logo {
    height: 60px;
}

.actions button {
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--brand-color);
    font-weight: 600;
    margin: 2px;
    font-family: var(--font-two);
}

.actions button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.flex-this {
    display: flex;
    justify-content: space-between;
}