@import url('../../index.css');

.container {
    padding: 30px 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100vh;
}

.btn {
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: var(--brand-color);
    font-weight: 600;

    width: 200px;
}   

table, th, td{
    border: 1px solid var(--dark-100);
    text-align: center;
    font-size: 0.9rem;
}

td {
    padding: 0 5px;
}

th {
    background-color: var(--brand-color);
    color: var(--light-100);
    padding: 10px;
}

.cat_name {
    text-align: left;
}

.notification {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.success {
    background-color: #DFF2BF;
    color: #4F8A10;
}
.error {
    background-color: #FFBABA;
    color: #D8000C;
}

.actions button {
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--brand-color);
    font-weight: 600;
    margin: 2px;
}

.actions button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}