@import url('../../index.css');
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100vh;
}

table, th, td{
    border: 1px solid var(--dark-100);
    text-align: center;
}

th {
    background-color: var(--brand-color);
    color: var(--light-100);
    padding: 10px;
}

.actions button {
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--brand-color);
    font-weight: 600;
    margin: 2px;
}

.actions button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}


.modal-footer button {
    background-color: var(--brand-color);
    color: var(--light-100);
    border: 1px solid var(--brand-color);
    border-radius: 8px;
    cursor: pointer;
}