@import url('../../index.css');

.container {
    padding: 50px 100px;
}
.allContent-section  {
    display: flex;
    gap: 20px;
    padding-top: 90px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side {
    display: flex;
    gap: 20px;
}

.right-side .card {
    background-color: #8C69E9;
    height: 260px;
    width: 300px;

    align-items: center;

    display: flex;
    border-radius: 8px;

    padding: 50px 20px;
}

.right-side .card h3 {
    font-size: 5rem;
}

.left-side .card {
    background-color: #8C69E9;
    height: 80px;
    width: 300px;
    border-radius: 8px;

    padding: 20px;
    justify-content: center;
    align-content: center;
}   

