@import url('../index.css');
.container-dashboard {
  display: flex;
  height: 100vh
}

.left {
    
    background-color: var(--brand-color);
    padding: 20px 30px 0;

    display: flex;
    flex-direction: column;
    color: var(--light-100);
    
    font-family: var(--font-one);
    
}

.right {
    flex-grow: 1; 
    overflow-y: auto; 
}

.logo {
    height: 80px;
}

.admin {
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.links {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-size: 1.1rem;
}

.links a{
    color: var(--light-100);
}

.links p:hover {
    cursor: pointer;
    color: var(--light-900)
}

.right {
    
    background-color: var(--light-100);
}

.logout {
    display: flex;
    gap: 20px;
    align-content: center;
}

.logout img {
    height: 20px;
    width: 20px;
    color: var(--light-100);
}